body{
    background-color: white;
    font-size: 15px
}
.main-content{
    padding: 20px;
}
    
@media screen and (max-width: 500px) {
    .total-content{
       
        display: inline-block;padding:0px;
        width: 200px;
    }
    #chartContainer{
        width: 350px;
    }
    
    
    .state-table{
        margin-top: 0px;
        margin-left: 0px;
        width: 50px;
    }
  }
@media screen and (min-width: 1200px) {
    .total-content{
        display: inline-flex;padding: 20px;
        
}

.state-table{
    width:800px;
    margin-top: 0px;
}
.cc{
    width:500px;
    margin: auto;
   
   
}
.charts{
    display: inline-flex;
}
}
