body{
    background-color: white;
}
.main-content{
    padding: 20px;
}
    
@media screen and (min-width: 480px) {
    .total-content{
        margin-left:0px;
        display: inline-flex;padding: 20px;
    }
  }
@media screen and (min-width: 1200px) {
    .total-content{
        display: inline-flex;padding: 20px;margin-left:235px;
}
}
